<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashlikun.photo_hander">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:allowBackup="true">

        <activity
            android:name="com.ashlikun.photo_hander.PhotoHanderActivity"
            android:configChanges="orientation|screenSize"
            android:label="图片选择" />
        <activity
            android:name="com.ashlikun.photo_hander.crop.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:label="图片裁剪" />
    </application>

</manifest>
